<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Avaliador de Senha</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body>
<script>
    function avaliarSenha(target) {
        $.ajax({
            url: 'https://avaliador-de-senha.herokuapp.com/avalia_senha/',
            data: {senha: target.value},
            dataType: 'json',
            type: 'Post',
            success: function (data) {
                $('#pontuacao').html(data.pontuacao+'%');
                $('#complexidade').html(data.complexidade);
            },
            error: function () {
                alert('Erro ao carregar');
            }
        });
    }
</script>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-muted"><strong> Avaliador de seguranca de senha </strong></p>
            <div class="well well-xs">
                <form>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="password" class="form-control" id="senha" placeholder="Senha"
                                   onkeyup="avaliarSenha(this)"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="label label-default" id="pontuacao">0%</span>
                            <span class="label label-danger" id="complexidade">Muito Fraco</span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>